<body>
    <nav class="navbar navbar-default navbar-fixed-top"id ="navibar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="https://sch0916-seongwook-hong-1.c9.io/home/index"><span class="glyphicon glyphicon-pencil"></span>수채화</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="https://sch0916-seongwook-hong-1.c9.io/home/intro">서비스 소개</a></li>
            <li><a href="https://sch0916-seongwook-hong-1.c9.io/question/look">질문</a></li>
            <li class = "active"><a href="https://sch0916-seongwook-hong-1.c9.io/home/simulation">대수능·평가원 기출문제</a></li>
            <li><a href="https://sch0916-seongwook-hong-1.c9.io/home/workbook">시중 문제집</a></li>
            <li><a href="https://sch0916-seongwook-hong-1.c9.io/home/mentor">멘토</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://sch0916-seongwook-hong-1.c9.io/home/signup"><span class="glyphicon glyphicon-user"></span> 회원가입</a></li>
            <li><a class="btn pull-right" data-toggle="modal" href="#login"><span class="glyphicon glyphicon-log-in"></span> 로그인</a></li>
            
            
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container" >
      <div class="btn-group" role="group" aria-label="..." id="ab_choice_button">
        <button type="button" class="btn active" onClick="location.href='https://sch0916-seongwook-hong-1.c9.io/problem/sim201406a'">A형</button>
        <button type="button" class="btn btn-default" onClick="location.href='https://sch0916-seongwook-hong-1.c9.io/problem/sim201406b'">B형</button>
      </div>
        <div class="container">
            <label for="sel1">문제바로가기</label>
            <select class="form-control" id="sel1" size="1" name="links" onchange="window.location.href=this.value;">
              <option value="#">문제번호선택</option>
              <option value="#1">1</option>
              <option value="#2">2</option>
              <option value="#3">3</option>
              <option value="#4">4</option>
              <option value="#5">5</option>
              <option value="#6">6</option>
              <option value="#7">7</option>
              <option value="#8">8</option>
              <option value="#9">9</option>
              <option value="#10">10</option>
              <option value="#11">11</option>
              <option value="#12">12</option>
              <option value="#13">13</option>
              <option value="#14">14</option>
              <option value="#15">15</option>
              <option value="#16">16</option>
              <option value="#17">17</option>
              <option value="#18">18</option>
              <option value="#19">19</option>
              <option value="#20">20</option>
              <option value="#21">21</option>
              <option value="#22">22</option>
              <option value="#23">23</option>
              <option value="#24">24</option>
              <option value="#25">25</option>
              <option value="#26">26</option>
              <option value="#27">27</option>
              <option value="#28">28</option>
              <option value="#29">29</option>
              <option value="#30">30</option>
            </select>
        </div>
        
        <br> </br>

        <div style="overflow:hidden;" body style="width:100%;" id="munjae">
          <section id="1">
            <br>
            <p>1번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_01.png"class="img-responsive" alt="Responsive image"><br>
            <br>
            <%= simple_form_for @user do |f| %>
              <%= f.input :username %>
              <%= f.input :password %>
              <%= f.button :submit %>
            <% end %>
          </section><br>
          <section id="2">
            <br>
            <p>2번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_02.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="3">
            <br>
            <p>3번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_03.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="4">
            <br>
            <p>4번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_04.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="5">
            <br>
            <p>5번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_05.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="6">
            <br>
            <p>6번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_06.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="7">
            <br>
            <p>7번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_07.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="8">
            <br>
            <p>1번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_08.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="9">
            <br>
            <p>9번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_09.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="10">
            <br>
            <p>10번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_10.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="11">
            <br>
            <p>11번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_11.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="12">
            <br>
            <p>12번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_12.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="13">
            <br>
            <p>13번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_13.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="14">
            <br>
            <p>14번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_14.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="15">
            <br>
            <p>15번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_15.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="16">
            <br>
            <p>16번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_16.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="17">
            <br>
            <p>17번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_17.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="18">
            <br>
            <p>18번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_18.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="19">
            <br>
            <p>19번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_19.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="20">
            <br>
            <p>20번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_20.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="21">
            <br>
            <p>21번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_21.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="22">
            <br>
            <p>22번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_22.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="23">
            <br>
            <p>23번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_23.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="24">
            <br>
            <p>24번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_24.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="25">
            <br>
            <p>25번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_25.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="26">
            <br>
            <p>26번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_26.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="27">
            <br>
            <p>27번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_27.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="28">
            <br>
            <p>28번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_28.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="29">
            <br>
            <p>29번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_29.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
          <section id="30">
            <br>
            <p>30번 문제</p>
            <img src="/problemdb/2014/2014 6/A/2014_06_a_30.png"class="img-responsive" alt="Responsive image"><br>
          </section><br>
        </div>
        <br>
        <hr>
        <footer>
          <p>&copy; Bori-corporation</p>
        </footer>
      </div><!--/.container-->
    
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
    
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    
      <script src="offcanvas.js"></script>
    </div>
    
    <!-- Modal -->
    <div id="login" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">로그인</h4>
          </div>
          <div class="modal-body">
            
    <form role="form">
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
      </div>
      <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
      </div>
      <button type="submit" class="btn btn-default">로그인</button>
    </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
          </div>
        </div>
    
      </div>
    </div>
</body>