<body>
  <div class="container">
    <div class="btn-group" role="group" aria-label="..." id="ab_choice_button">
      <button type="button" class="btn btn-default" onClick="location.href='https://sch0906-toomy0toons-2.c9.io/problem/sim201406a'">A형</button>
      <button type="button" class="btn active" onClick="location.href='https://sch0906-toomy0toons-2.c9.io/problem/sim201406b'">B형</button>
    </div>
    
    <%= render "/home/probchoice" %>
    
    <div style="overflow:hidden;" body style="width:100%;" id="munjae">
      <section id="1">
        <br>
        <p>1번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_01.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="2">
        <br>
        <p>2번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_02.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="3">
        <br>
        <p>3번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_03.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="4">
        <br>
        <p>4번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_04.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="5">
        <br>
        <p>5번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_05.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="6">
        <br>
        <p>6번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_06.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="7">
        <br>
        <p>7번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_07.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="8">
        <br>
        <p>1번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_08.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="9">
        <br>
        <p>9번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_09.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="10">
        <br>
        <p>10번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_10.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="11">
        <br>
        <p>11번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_11.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="12">
        <br>
        <p>12번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_12.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="13">
        <br>
        <p>13번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_13.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="14">
        <br>
        <p>14번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_14.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="15">
        <br>
        <p>15번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_15.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="16">
        <br>
        <p>16번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_16.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="17">
        <br>
        <p>17번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_17.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="18">
        <br>
        <p>18번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_18.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="19">
        <br>
        <p>19번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_19.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="20">
        <br>
        <p>20번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_20.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="21">
        <br>
        <p>21번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_21.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="22">
        <br>
        <p>22번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_22.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="23">
        <br>
        <p>23번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_23.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="24">
        <br>
        <p>24번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_24.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="25">
        <br>
        <p>25번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_25.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="26">
        <br>
        <p>26번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_26.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="27">
        <br>
        <p>27번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_27.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="28">
        <br>
        <p>28번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_28.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="29">
        <br>
        <p>29번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_29.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
      <section id="30">
        <br>
        <p>30번 문제</p>
        <img src="/problemdb/2014/2014 6/B/2014_06_b_30.png"class="img-responsive" alt="Responsive image"><br>
      </section><br>
    </div>
    <br>
    <hr>
    <br>
    <%= render "/home/footer" %>
  </div><!--/.container-->
  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  
    <script src="offcanvas.js"></script>
  </div>
  
  <%= render "/home/loginModal" %>
</body>