@charset "utf-8";


/*답변form end*/
body 
{
     margin:0px;
     padding-top:50px;
     font-size:0.75em;
     height:100%;
     position:center;

     background-color: transparent !important;
     background-image: none;
}

#join{
    text-align: center;
}

#new_user.new_user{
    position:center;
}


.navbar-default {
  background-color: #b3eee1  !important;
  border-color: #81f0d7  !important;
}
.navbar-default .navbar-brand {
  color: #5c5858 !important; 
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #2a81c7 !important;
}
.navbar-default .navbar-text {
  color: #5c5858 !important;
}
.navbar-default .navbar-nav > li > a {
  color: #5c5858 !important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #2a81c7   !important;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #b3eee1   !important;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #5c5858   !important;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #2a81c7   !important;
  background-color: #81f0d7   !important;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #b3eee1   !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #2a81c7   !important;
  background-color: #81f0d7   !important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #2a81c7   !important;
  background-color: #81f0d7   !important;
}
.navbar-default .navbar-toggle {
  border-color: #81f0d7  !important;
  background-color: #81f0d7  !important;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #81f0d7;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #5c5858 !important;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #5c5858 !important;
}
.navbar-default .navbar-link {
  color: #5c5858 !important;
}
.navbar-default .navbar-link:hover {
  color: #2a81c7 !important;
} 

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #5c5858 !important;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #2a81c7 !important;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #2a81c7 !important;
    background-color: #81f0d7 !important;
  }
}

/*답변 form*/
.form-style-6{
    max-width: 1000px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style-5{
    max-width: 1000px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
    background: #d2d9dd;
}
.form-style-5 select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style-5 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
    background: #109177;
}

/*대수능 평가원 기출문제 선택란*/
#gichulneyeond_suntaek{
     margin-top:0;
     width:70%;
     max-width:500px;
     background-color: none;
     background-image: none;
     position:center;
}
/*대수능 평가원 기출문제 ab형 선택버튼*/
#ab_choice_button{
     position:center;
     width:100px;
}

/*대수능 평가원 기출문제 문제 선택버튼*/
#gichulmunjae_suntaek{
     position:fixed;
}

/*대수능 평가원 기출문제 문제*/
#munjae{
     min-width:100%;
     max-height:auto;
}
/*회원가입란*/
#signupform{
     
}
