<body>
    <nav class="navbar navbar-default navbar-fixed-top" id ="navibar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="https://sch0916-seongwook-hong-1.c9.io/home/index"><span class="glyphicon glyphicon-pencil"></span>수채화</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="https://sch0916-seongwook-hong-1.c9.io/home/intro">서비스 소개</a></li>
            <li><a href="https://sch0916-seongwook-hong-1.c9.io/question/look">질문</a></li>
            <li class = "active"><a href="https://sch0916-seongwook-hong-1.c9.io/home/simulation">대수능·평가원 기출문제</a></li>
            <li><a href="https://sch0916-seongwook-hong-1.c9.io/home/workbook">시중 문제집</a></li>
            <li><a href="https://sch0916-seongwook-hong-1.c9.io/home/mentor">멘토</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://sch0916-seongwook-hong-1.c9.io/home/signup"><span class="glyphicon glyphicon-user"></span> 회원가입</a></li>
            <li><a class="btn pull-right" data-toggle="modal" href="#login"><span class="glyphicon glyphicon-log-in"></span> 로그인</a></li>
            
            
          </ul>
        </div>
      </div>
    </nav>
      
    <div class="container">
        <label for="sel1" id="gichulneyeond_suntaek">연차별 모의고사 문제보기</label>
        <select class="form-control" id="gichulneyeond_suntaek" size="1" name="links" onchange="window.location.href=this.value;">
          <option value="#">선택하기</a></option>
          <option value="https://sch0916-seongwook-hong-1.c9.io/problem/sim201006a">2010년도 6월 평가원 모의고사</option>
          <option value="https://sch0916-seongwook-hong-1.c9.io/problem/sim201009a">2010년도 9월 평가원 모의고사</option>
          <option value="https://sch0916-seongwook-hong-1.c9.io/problem/sim201011a">2010년도 대학수학능력평가</option>
          <option value="https://sch0916-seongwook-hong-1.c9.io/problem/sim201106a">2011년도 6월 평가원 모의고사</option>
          <option value="https://sch0916-seongwook-hong-1.c9.io/problem/sim201109a">2011년도 9월 평가원 모의고사</option>
          <option value="https://sch0916-seongwook-hong-1.c9.io/problem/sim201111a">2011년도 대학수학능력평가</option>
          <option value="https://sch0916-seongwook-hong-1.c9.io/problem/sim201206a">2012년도 6월 평가원 모의고사</option>
          <option value="https://sch0916-seongwook-hong-1.c9.io/problem/sim201209a">2012년도 9월 평가원 모의고사</option>
          <option value="https://sch0916-seongwook-hong-1.c9.io/problem/sim201211a">2012년도 대학수학능력평가</option>
          <option value="https://sch0916-seongwook-hong-1.c9.io/problem/sim201306a">2013년도 6월 평가원 모의고사</option>
          <option value="https://sch0916-seongwook-hong-1.c9.io/problem/sim201309a">2013년도 9월 평가원 모의고사</option>
          <option value="https://sch0916-seongwook-hong-1.c9.io/problem/sim201311a">2013년도 대학수학능력평가</option>
          <option value="https://sch0916-seongwook-hong-1.c9.io/problem/sim201406a">2014년도 6월 평가원 모의고사</option>
          <option value="https://sch0916-seongwook-hong-1.c9.io/problem/sim201409a">2014년도 9월 평가원 모의고사</option>
          <option value="https://sch0916-seongwook-hong-1.c9.io/problem/sim201411a">2014년도 대학수학능력평가</option>
          <option value="https://sch0916-seongwook-hong-1.c9.io/problem/sim201506a">2015년도 6월 평가원 모의고사</option>
          <option value="https://sch0916-seongwook-hong-1.c9.io/problem/sim201509a">2015년도 9월 평가원 모의고사</option>
          <option value="https://sch0916-seongwook-hong-1.c9.io/problem/sim201511a">2015년도 대학수학능력평가</option>
        </select>
        <br>
        <br>
        <label for="sel2" id="gichulneyeond_suntaek">단원별 문제 모아보기</label>
        <select class="form-control" id="gichulneyeond_suntaek">
          <option value="#">선택하기</option>
          <option value="#">집합</option>
          <option value="#">함수</option>
          <option value="#">미분</option>
          <option value="#">적분</option>
          <option value="#">공간도형·공간좌표</a></option>
          <option value="#">벡터</option>
        </select>
        <br>
        <hr>
        <footer>
          <p>&copy; Bori-corporation</p>
        </footer>
      </div><!--/.container-->
    
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
    
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    
      <script src="offcanvas.js"></script>
    </div>
    
    <!-- Modal -->
    <div id="login" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">로그인</h4>
          </div>
          <div class="modal-body">
            
    <form role="form">
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
      </div>
      <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
      </div>
      <button type="submit" class="btn btn-default">로그인</button>
    </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
          </div>
        </div>
    
      </div>
    </div>
</body>
