<body>
  <div class="container"> 
    <div class="form-style-5">
        <form action="/question/write" method = "POST" enctype = "multipart/form-data">
        <fieldset>
          <legend><span class="number">1</span> 제목</legend>
          <input type="title" name="title" placeholder="title" required>
          <legend><span class="number">2</span> 작성자</legend>
          <%= current_user.name %>
          <legend><span class="number">3</span> 설명</legend>
          <textarea rows="30" cols="50" name="description" placeholder="description" required></textarea>
          <legend><span class="number">4</span> 첨부이미지</legend>
          <input type = "file" name = "image_file"><br>
          <legend><span class="number">5</span> 태그</legend>
          <input type="tag" name="tag" placeholder="tag"><br>
        </fieldset>
        <br>
        <br>
        <input type="submit" value="등록" />
        </form>
    </div>
    
    <br>
    <br>
    <hr>
    <%= render "/home/footer" %>
  </div>
</body>
