<body>
  <div class="container"> 
    <div class="form-style-5">
        <form action="/question/write" method = "POST" enctype = "multipart/form-data">
        <fieldset>
        <legend><span class="number">1</span> 제목</legend>
        <input type="title" name="title" placeholder="title">
        <legend><span class="number">2</span> 작성자</legend>
        <input type="writer" name="writer" placeholder="writer">
        <legend><span class="number">3</span> 설명</legend>
        <textarea rows="30" cols="159" name="description" placeholder="description"></textarea>
        <legend><span class="number">4</span> 첨부이미지</legend>
        <input type = "file" name = "image_file"><br>
        <legend><span class="number">5</span> 태그</legend>
        <input type="tag" name="tag" placeholder="tag"><br>
        </fieldset>
        <br>
        <br>
        <input type="submit" value="등록" />
        </form>
    </div>
    
    <br>
    <br>
    <hr>
    <br>
    <%= render "/home/footer" %>
  </div>
    
  <%= render "/home/loginModal" %>
  
</body>
