<div class="container" id="gichulneyeond_suntaek">
  <label for="sel1">연차별 모의고사 문제보기</label>
  <select class="form-control"  size="1" name="links" onchange="window.location.href=this.value;">
    <option value="#">선택하기</a></option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim20106A">2010년도 6월 평가원 모의고사</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim20109A">2010년도 9월 평가원 모의고사</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim201011A">2010년도 대학수학능력평가</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim20116A">2011년도 6월 평가원 모의고사</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim20119A">2011년도 9월 평가원 모의고사</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim201111A">2011년도 대학수학능력평가</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim20126A">2012년도 6월 평가원 모의고사</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim20129A">2012년도 9월 평가원 모의고사</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim201211A">2012년도 대학수학능력평가</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim20136A">2013년도 6월 평가원 모의고사</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim20139A">2013년도 9월 평가원 모의고사</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim201311A">2013년도 대학수학능력평가</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim20146A">2014년도 6월 평가원 모의고사</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim20149A">2014년도 9월 평가원 모의고사</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim201411A">2014년도 대학수학능력평가</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim20156A">2015년도 6월 평가원 모의고사</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim20159A">2015년도 9월 평가원 모의고사</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim201511A">2015년도 대학수학능력평가</option>
  </select>
  <br>
  <br>
  <label for="sel2" >단원별 문제 모아보기</label>
  <select class="form-control" size="1" name="links" onchange="window.location.href=this.value;">
    <option value="#">선택하기</option>
    <option value="#">집합</option>
    <option value="#">함수</option>
    <option value="#">미분</option>
    <option value="#">적분</option>
    <option value="#">공간도형·공간좌표</a></option>
    <option value="#">벡터</option>
  </select>
</div>