<div class="container">
  <label for="sel1" id="gichulneyeond_suntaek">연차별 모의고사 문제보기</label>
  <select class="form-control" id="gichulneyeond_suntaek" size="1" name="links" onchange="window.location.href=this.value;">
    <option value="#">선택하기</a></option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim201006a">2010년도 6월 평가원 모의고사</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim201009a">2010년도 9월 평가원 모의고사</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim201011a">2010년도 대학수학능력평가</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim201106a">2011년도 6월 평가원 모의고사</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim201109a">2011년도 9월 평가원 모의고사</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim201111a">2011년도 대학수학능력평가</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim201206a">2012년도 6월 평가원 모의고사</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim201209a">2012년도 9월 평가원 모의고사</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim201211a">2012년도 대학수학능력평가</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim201306a">2013년도 6월 평가원 모의고사</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim201309a">2013년도 9월 평가원 모의고사</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim201311a">2013년도 대학수학능력평가</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim201406a">2014년도 6월 평가원 모의고사</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim201409a">2014년도 9월 평가원 모의고사</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim201411a">2014년도 대학수학능력평가</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim201506a">2015년도 6월 평가원 모의고사</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim201509a">2015년도 9월 평가원 모의고사</option>
    <option value="https://sch0906-toomy0toons-2.c9.io/problem/sim201511a">2015년도 대학수학능력평가</option>
  </select>
  <br>
  <br>
  <label for="sel2" id="gichulneyeond_suntaek">단원별 문제 모아보기</label>
  <select class="form-control" id="gichulneyeond_suntaek" size="1" name="links" onchange="window.location.href=this.value;">
    <option value="#">선택하기</option>
    <option value="#">집합</option>
    <option value="#">함수</option>
    <option value="#">미분</option>
    <option value="#">적분</option>
    <option value="#">공간도형·공간좌표</a></option>
    <option value="#">벡터</option>
  </select>
</div>