<body>
  <div class="container">
    <h2>당신의 수험생활은 어땠나요?</h2><br>
    <p>기출문제 하나를 30분동안 푸는 ebs는 마음에 들지않고,</p>
    <p>돈 주고 산 인터넷 강의의 풀이도 만족스럽지 않고</p>
    <hr>
    <%= render "footer" %>
  </div>
</body>