<body>
    <nav class="navbar navbar-default navbar-fixed-top" id ="navibar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="https://sch0916-seongwook-hong-1.c9.io/home/index"><span class="glyphicon glyphicon-pencil"></span>수채화</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="https://sch0916-seongwook-hong-1.c9.io/home/intro">서비스 소개</a></li>
            <li><a href="https://sch0916-seongwook-hong-1.c9.io/question/look">질문</a></li>
            <li><a href="https://sch0916-seongwook-hong-1.c9.io/home/simulation">대수능·평가원 기출문제</a></li>
            <li><a href="https://sch0916-seongwook-hong-1.c9.io/home/workbook">시중 문제집</a></li>
            <li><a href="https://sch0916-seongwook-hong-1.c9.io/home/mentor">멘토</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class = "active"><a href="https://sch0916-seongwook-hong-1.c9.io/home/signup"><span class="glyphicon glyphicon-user"></span> 회원가입</a></li>
            <li><a class="btn pull-right" data-toggle="modal" href="#login"><span class="glyphicon glyphicon-log-in"></span> 로그인</a></li>
            
            
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container">
      <h3>회원 가입</h3>
      <br>
      <table>
        <tr>
        <td>이름</td>
        <td><input type="text" name="user_name" 이름 /></td>
        </tr>
        <tr>
            <td>아이디</td>
        <td><input type="text" name="user_id" /></td>
        </tr>
        <tr>
            <td>비밀번호</td>
            <td><input type="password" name="user_pw" /></td>
        </tr>
        <tr>
            <td>비밀번호 확인 </td>
            <td><input type="text" name="user_pw2" /></td>
        </tr>
        <tr>
            <td>주소</td>
            <td><input type="text" name="user_address" /></td>
        </tr>
        <tr>
            <td>생년월일</td>
            <td><select name="user_birth_year">
                <option value="1978" selected>1978</option>
                <option value="1979" selected>1979</option>
                <option value="1980" selected>1980</option>
                <option value="1981" selected>1981</option>
                <option value="1982" selected>1982</option>
                <option value="1983" selected>1983</option>
                <option value="1984" selected>1984</option>
                <option value="1985" selected>1985</option>
                <option value="1986" selected>1986</option>
                <option value="1987" selected>1987</option>
                <option value="1988" selected>1988</option>
                <option value="1989" selected>1989</option>
                <option value="1990" selected>1990</option>
                <option value="1991" selected>1991</option>
                <option value="1992" selected>1992</option>
                <option value="1993" selected>1993</option>
                <option value="1994" selected>1994</option>
                <option value="1995" selected>1995</option>
                <option value="1996" selected>1996</option>
                <option value="1997" selected>1997</option>
                <option value="1998" selected>1998</option>
                <option value="1999" selected>1999</option>
                <option value="2000" selected>2000</option>
                <option value="2001" selected>2001</option>
                <option value="2002" selected>2002</option>
                <option value="2003" selected>2003</option>
                <option value="2004" selected>2004</option>
                <option value="2005" selected>2005</option>
                <option value="2006" selected>2006</option>
                <option value="2007" selected>2007</option>
                <option value="2008" selected>2008</option>
                <option value="2009" selected>2009</option>
                <option value="2010" selected>2010</option>
                <option value="2011" selected>2011</option>
                <option value="2012" selected>2012</option>
            </select>
            년
            <select name="user_birth_month">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            월
            <select name="user_birth_day">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
            일
            </td>
        </tr>
        <tr>
            <td>직업</td>
            <td><select name="user_job">
                <option value="student">학생</option>
                <option value="mentor">멘토</option>
                <option value="teacher">선생님</option>
                <option value="developer">개발자</option>
                <option value="publisher">출판사</option>
                <option value="adminstrator">관리자</option>
            </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="submit" value="가입" />
        <input type="reset" name="reset" value="다시 작성" /></td>
        </tr>
      </table>
      
      
      <hr>
      <footer>
        <p>&copy; Bori-corporation</p>
      </footer>
    </div>
    
    <!-- Modal -->
    <div id="login" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">로그인</h4>
          </div>
          <div class="modal-body">
            
    <form role="form">
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
      </div>
      <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
      </div>
      <button type="submit" class="btn btn-default">로그인</button>
    </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
          </div>
        </div>
    
      </div>
    </div>

</body>