@charset "utf-8";

body 
{
     margin:-70px;
     padding-top:80px;
     font-size:0.75em;
     height:100%;
     
     background-color: transparent !important;
     background-image: none;
}
#main_image{
     width: 100%;
     margin-top: 0px;
}


/*상단 네비바 색상*/
#navibar{
     background-color: white !important;
     background-image: none;
     height: 50px;
     margin-top: 0px;
     color:#676767;
}
/*대수능 평가원 기출문제 선택란*/
#gichulneyeond_suntaek{
     margin-top:0;
     width:70%;
     max-width:500px;
     background-color: none !important;
     background-image: none;
     position:center;
}
/*대수능 평가원 기출문제 ab형 선택버튼*/
#ab_choice_button{
     position:center;
     width:100px;
}

/*대수능 평가원 기출문제 문제 선택버튼*/
#gichulmunjae_suntaek{
     position:fixed;
}

/*대수능 평가원 기출문제 문제*/
#munjae{
     min-width:100%;
     max-height:auto;
}
/*회원가입란*/
#signupform{
     
}
